#game-div{
    width: 800px;
    height: 500px;
    border: 2px solid;
}

#arrow{
    height: 20px;
    rotate: -90deg;
    position: absolute;
    top: 500px;
    left:340px;
}

#shoot{
    background-color: red;
    color: white;
    width: 100px;
    height: 50px;
    position: absolute;
    left: 400px;
    top: 600px;
}

#deer{
    height: 150px;
    width: 150px;
    position: absolute;
}